@font-face {
  font-family: "iconfont"; /* Project id 582773 */
  src: url('iconfont.woff2?t=1674958969670') format('woff2'),
       url('iconfont.woff?t=1674958969670') format('woff'),
       url('iconfont.ttf?t=1674958969670') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fuzhiyemian:before {
  content: "\e772";
}

.icon-jiufuqianbaoicon09:before {
  content: "\e6b4";
}

.icon-xiazai:before {
  content: "\e60d";
}

.icon-dayin:before {
  content: "\e616";
}

.icon-chakanlishibanben:before {
  content: "\e6c7";
}

.icon-shezhi-xianxing:before {
  content: "\e8b7";
}

.icon-bianji:before {
  content: "\e7dd";
}

.icon-chakan:before {
  content: "\e6b3";
}

.icon-xiazailiebiao:before {
  content: "\e6af";
}

.icon-menu:before {
  content: "\e60c";
}

.icon-notice:before {
  content: "\e60b";
}

.icon-user:before {
  content: "\e60a";
}

.icon-export:before {
  content: "\e609";
}

.icon-drug_monitor:before {
  content: "\e608";
}

.icon-report_pg:before {
  content: "\e6b2";
}

.icon-ipharmacare_custom_report:before {
  content: "\e6b1";
}

.icon-intervene:before {
  content: "\e6b0";
}

.icon-cpod:before {
  content: "\e6ac";
}

.icon-index:before {
  content: "\e6ab";
}

.icon-mini_auditcenter:before {
  content: "\e9de";
}

.icon-systemcenter:before {
  content: "\e6a9";
}

.icon-review:before {
  content: "\e6aa";
}

.icon-audit_center:before {
  content: "\e6ad";
}

.icon-pe_hos:before {
  content: "\e6ae";
}

.icon-ipharmacare_knowledge:before {
  content: "\e6a8";
}

.icon-loading1:before {
  content: "\e6a7";
}

.icon-im_jiazaitupian_shibai:before {
  content: "\e640";
}

.icon-shangchuan:before {
  content: "\e6a5";
}

.icon-gengxin1:before {
  content: "\e6a6";
}

.icon-yulan:before {
  content: "\e6a4";
}

.icon-shengchengbaobiao:before {
  content: "\e6a3";
}

.icon-shaixuan:before {
  content: "\e6a2";
}

.icon-xiugaimima:before {
  content: "\e69d";
}

.icon-tuichudenglu:before {
  content: "\e69e";
}

.icon-renwuguanli:before {
  content: "\e69f";
}

.icon-tishi:before {
  content: "\e6a0";
}

.icon-yonghuguanli:before {
  content: "\e6a1";
}

.icon-next-article:before {
  content: "\e69b";
}

.icon-prev-article:before {
  content: "\e69c";
}

.icon-yijianbidui:before {
  content: "\e69a";
}

.icon-arrow-up-circle:before {
  content: "\e698";
}

.icon-arrow-down-circle:before {
  content: "\e699";
}

.icon-chouqu:before {
  content: "\e697";
}

.icon-yonghu:before {
  content: "\e63a";
}

.icon-group:before {
  content: "\e79d";
}

.icon-star-solid:before {
  content: "\e630";
}

.icon-wenjian:before {
  content: "\e696";
}

.icon-antibacterialsflag:before {
  content: "\e622";
}

.icon-calendar-icon:before {
  content: "\e627";
}

.icon-check-operation:before {
  content: "\e628";
}

.icon-check-exam:before {
  content: "\e629";
}

.icon-check-nonorder:before {
  content: "\e62a";
}

.icon-electronic-medical-records:before {
  content: "\e62c";
}

.icon-check-vitalsign:before {
  content: "\e62d";
}

.icon-edit1:before {
  content: "\e62e";
}

.icon-check1:before {
  content: "\e631";
}

.icon-exam-normal:before {
  content: "\e633";
}

.icon-exam-image:before {
  content: "\e636";
}

.icon-injectable-flag:before {
  content: "\e637";
}

.icon-menu-statistics:before {
  content: "\e638";
}

.icon-pharmacist:before {
  content: "\e639";
}

.icon-menu-result:before {
  content: "\e63b";
}

.icon-menu-audit:before {
  content: "\e63c";
}

.icon-menu-set:before {
  content: "\e63d";
}

.icon-menu-alert-message:before {
  content: "\e63e";
}

.icon-modify1:before {
  content: "\e63f";
}

.icon-lung:before {
  content: "\e641";
}

.icon-uniE:before {
  content: "\e643";
}

.icon-new:before {
  content: "\e68c";
}

.icon-record:before {
  content: "\e68d";
}

.icon-start-audit:before {
  content: "\e68e";
}

.icon-reply-info:before {
  content: "\e68f";
}

.icon-record-:before {
  content: "\e690";
}

.icon-progress:before {
  content: "\e691";
}

.icon-uniE6:before {
  content: "\e692";
}

.icon-operation:before {
  content: "\e693";
}

.icon-uniE9:before {
  content: "\e694";
}

.icon-progress-:before {
  content: "\e695";
}

.icon-gengxin:before {
  content: "\e607";
}

.icon-queshengtubiao:before {
  content: "\e606";
}

.icon-piliang:before {
  content: "\e605";
}

.icon-trailer-page:before {
  content: "\e601";
}

.icon-prev-page:before {
  content: "\e602";
}

.icon-index-page:before {
  content: "\e603";
}

.icon-next-page:before {
  content: "\e604";
}

.icon-social-share:before {
  content: "\e7cf";
}

.icon-offline:before {
  content: "\e81c";
}

.icon-notice-last:before {
  content: "\e615";
}

.icon-warning:before {
  content: "\e6c0";
}

.icon-loading-radian:before {
  content: "\e777";
}

.icon-info:before {
  content: "\e9dd";
}

.icon-sync:before {
  content: "\e68b";
}

.icon-loading:before {
  content: "\e68a";
}

.icon-left-sorting:before {
  content: "\e9a9";
}

.icon-right-sorting:before {
  content: "\e9c2";
}

.icon-calendar:before {
  content: "\e642";
}

.icon-redo:before {
  content: "\e6ed";
}

.icon-undo:before {
  content: "\e618";
}

.icon-division:before {
  content: "\e689";
}

.icon-comparison:before {
  content: "\e681";
}

.icon-del:before {
  content: "\e682";
}

.icon-back:before {
  content: "\e683";
}

.icon-export-last:before {
  content: "\e684";
}

.icon-import:before {
  content: "\e685";
}

.icon-copy:before {
  content: "\e686";
}

.icon-modify:before {
  content: "\e687";
}

.icon-forbidden:before {
  content: "\e688";
}

.icon-check:before {
  content: "\e680";
}

.icon-add-circle:before {
  content: "\e644";
}

.icon-add:before {
  content: "\e645";
}

.icon-ascent:before {
  content: "\e646";
}

.icon-add-fill:before {
  content: "\e647";
}

.icon-attachment:before {
  content: "\e648";
}

.icon-check-circle:before {
  content: "\e649";
}

.icon-close-circle:before {
  content: "\e64a";
}

.icon-check-fill:before {
  content: "\e64b";
}

.icon-close-fill:before {
  content: "\e64c";
}

.icon-close:before {
  content: "\e64d";
}

.icon-del-circle:before {
  content: "\e64e";
}

.icon-download:before {
  content: "\e64f";
}

.icon-del-fill:before {
  content: "\e650";
}

.icon-edit:before {
  content: "\e651";
}

.icon-descent:before {
  content: "\e652";
}

.icon-email:before {
  content: "\e653";
}

.icon-file:before {
  content: "\e654";
}

.icon-folder:before {
  content: "\e655";
}

.icon-eye:before {
  content: "\e656";
}

.icon-home:before {
  content: "\e657";
}

.icon-folder-open:before {
  content: "\e658";
}

.icon-info-circle:before {
  content: "\e659";
}

.icon-info-fill:before {
  content: "\e65a";
}

.icon-like:before {
  content: "\e65b";
}

.icon-link:before {
  content: "\e65c";
}

.icon-img:before {
  content: "\e65d";
}

.icon-list-expend:before {
  content: "\e65e";
}

.icon-list-collapse:before {
  content: "\e65f";
}

.icon-location:before {
  content: "\e660";
}

.icon-list:before {
  content: "\e661";
}

.icon-mark:before {
  content: "\e662";
}

.icon-locked:before {
  content: "\e663";
}

.icon-menu-last:before {
  content: "\e664";
}

.icon-output:before {
  content: "\e665";
}

.icon-message:before {
  content: "\e666";
}

.icon-question-fill:before {
  content: "\e667";
}

.icon-refresh:before {
  content: "\e668";
}

.icon-question-circle:before {
  content: "\e669";
}

.icon-save:before {
  content: "\e66a";
}

.icon-search:before {
  content: "\e66b";
}

.icon-Shape:before {
  content: "\e66c";
}

.icon-star:before {
  content: "\e66d";
}

.icon-setting:before {
  content: "\e66e";
}

.icon-tags:before {
  content: "\e66f";
}

.icon-share:before {
  content: "\e670";
}

.icon-time-circle:before {
  content: "\e671";
}

.icon-time-fill:before {
  content: "\e672";
}

.icon-tansform:before {
  content: "\e673";
}

.icon-trash:before {
  content: "\e674";
}

.icon-unlocked:before {
  content: "\e675";
}

.icon-user-last:before {
  content: "\e676";
}

.icon-warning-circle:before {
  content: "\e677";
}

.icon-zoomout:before {
  content: "\e678";
}

.icon-warning-fill:before {
  content: "\e679";
}

.icon-zoomin:before {
  content: "\e67a";
}

.icon-triangle-fill:before {
  content: "\e67b";
}

.icon-arrow-down:before {
  content: "\e67c";
}

.icon-arrow-right:before {
  content: "\e67d";
}

.icon-arrow-left:before {
  content: "\e67e";
}

.icon-arrow-up:before {
  content: "\e67f";
}

